* {
    font-family: 'Press Start 2P', cursive;
}
body {
    background: url("background.jpg") no-repeat;
    background-size: 100% 100%;
}
.row {
    display: flex;
}

.column {
    flex: 33%;
    padding: 10px;
}

.character-card {
    border-style: double;
    background-color: black;
    color: white;
}

.enemy-card {
    border-style: dotted dashed solid double;
    background-color: black;
    color: white;
}

.centered {
    position: fixed;
    top: 50%;
}

.centeredAl {
    position: relative;
    left: 30px;
}

.title {
    border-style: dotted;
    background-color: black;
    color: white;
}